ALTER KEYSPACE system_auth WITH replication = {'class': 'NetworkTopologyStrategy', '{{ dc1 }}': '{{ dc1_rf }}', '{{ dc2 }}': '{{ dc2_rf }}'} ;
ALTER KEYSPACE dse_security WITH replication = {'class': 'NetworkTopologyStrategy', '{{ dc1 }}': '{{ dc1_rf }}', '{{ dc2 }}': '{{ dc2_rf }}'} ;
